body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	/* Семейство шрифтов */
	font-size: 12pt;
	/* Размер основного шрифта в пунктах  */
	background-color: transparent;
	/* Цвет фона веб-страницы */
	color: #000;
	/* Цвет основного текста */
}

h1 {
	color: #000;
	/* Цвет заголовка */
	font-size: 24pt;
	/* Размер шрифта в пунктах */
	font-family: Geneva, Arial, Helvetica, sans-serif;
	/* Семейство шрифтов */
	font-weight: normal;
	/* Нормальное начертание текста  */
}

p {
	text-align: justify;
	/* Выравнивание по ширине */
	margin-left: 5px;
	/* Отступ слева в пикселах */
	margin-right: 5px;
	/* Отступ справа в пикселах */
}

figure {
	float: left;
	contain: layout inline-size style;
	border: 1px solid #333;
	/* Параметры рамки */
}

.picture-set {
	float: left;
	contain: layout inline-size style;
	border: 1px solid #333;
}

.wares__fig {
	margin: 0;
	padding: 0;
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.img-fluid {
	display: flex;
	contain: layout inline-size style;
	flex-direction: row;
	margin-right: 10px;
	background: #ffffff;
	box-shadow: 0 4px 20px rgba(158, 158, 158, 0.16);
}

.after_pic {
	clear: both;
}

/* блоки картинок с подписями */

.floats {
	/* Компенсируем отступы между float-блоками, чтобы они занимали все доступное пространство */
	margin: -3em 0 0 -2em;

	/* Эти правила для IE */
	position: relative;
	display: inline-block;
	clear: both;
}

.floats:after {
	content: '';
	display: block;
	clear: both;
}

.floats .left {
	position: relative;
	float: left;

	/* Убираем удвоение отступов в IE */
	display: inline;

	/* Прячем все, что вдруг вылезло за наши ограничения */
	overflow: hidden;

	/* Отсупы между float-блоками */
	margin: 3em 0 0 2em;

	/* Задаем минимальную ширину по картинке и тексту */
	width: 14em;
	min-width: 200px;
}

.floats .left .r {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.floats .left .min {
	/* Задаем минимальную высоту по картинке */
	margin: 0 0 200px 0;

	/* Задаем минимальную высоту по тексту */
	height: 4em;

	/* Дублируем значение минимальной ширины по картинке для IE */
	width: 200px;
}